<div>
    <button id="btn-scan">scan</button>
    <form>
        <label for="ssid"></label>
        <input name="ssid" id="input-ssid" type="text" ssid>
        <label for="ssid"></label>
        <input name="password" id="input-password" type="text" password>
        <button id="btn-connect">connect</button>
    </form>
    <button id="btn-disconnect">disconnect</button>
</div>
<script src="./js/wifi.js"></script>