<!DOCTYPE html>
<html>

<head>
    <title>IoT</title>
</head>

<body>
    <script src="./js/socket.io.js"></script>
    
    <header>
        <ul>
            <li>
                <a href="/">leds</a>
            </li>
            <li>
                <a href="/wifi">wifi</a>
            </li>
        </ul>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>